In [251]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline
from sklearn.metrics import r2_score

In [252]:
data=pd.read_csv(r'C:\Users\DESKTOP\Desktop\car flusk\quikr_car.csv')

In [253]:
data.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [254]:
data.shape

(892, 6)

In [255]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

<h2>Problems</h2>
 price having ask for price
 price and year converted to integer

In [256]:
data['Price'].unique

<bound method Series.unique of 0             80,000
1           4,25,000
2      Ask For Price
3           3,25,000
4           5,75,000
           ...
887         3,10,000
888         2,60,000
889         3,90,000
890         1,80,000
891         1,60,000
Name: Price, Length: 892, dtype: object>

In [257]:
data=data[data['Price']!="Ask For Price"]

In [258]:
data['Price']=data['Price'].str.replace(',','').astype(int)

In [259]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 857 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        857 non-null    object
 1   company     857 non-null    object
 2   year        857 non-null    object
 3   Price       857 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(1), object(5)
memory usage: 43.5+ KB

In [260]:
data['year'].unique()

array(['2007', '2006', '2014', '2012', '2013', '2016', '2015', '2010',
       '2017', '2008', '2018', '2011', '2019', '2009', '2005', '2000',
       '150k', 'TOUR', '2003', 'r 15', '2004', 'sale', '1995', 'ara)',
       '2002', 'SELL', '2001', 'tion', 'odel', '2 bs', 'arry', 'o...',
       'Zest', 'ture', 'emi', 'car', 'able', 'd...', 'SALE', 'sell',
       'd Ex', 'n...', 'e...', 'go .', 'k...', 'o c4', 'zire', 'Sumo',
       'cab', 'EV2', 'r...', 'zest'], dtype=object)

In [261]:
data=data[data['year'].str.isnumeric()]

In [262]:
data['year']=data['year'].astype(int)

In [263]:
data

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,80000,"45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,425000,40 kms,Diesel
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,325000,"28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,575000,"36,000 kms",Diesel
6,Ford Figo,Ford,2012,175000,"41,000 kms",Diesel
...,...,...,...,...,...,...
886,Toyota Corolla Altis,Toyota,2009,300000,"1,32,000 kms",Petrol
888,Tata Zest XM Diesel,Tata,2018,260000,"27,000 kms",Diesel
889,Mahindra Quanto C8,Mahindra,2013,390000,"40,000 kms",Diesel
890,Honda Amaze 1.2 E i VTEC,Honda,2014,180000,Petrol,NaN
891,Chevrolet Sail 1.2 LT ABS,Chevrolet,2014,160000,Petrol,NaN

In [264]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [265]:
data['kms_driven']=data['kms_driven'].str.split(' ').str.get(0).str.replace(',','')

In [266]:
data=data[data['kms_driven'].str.isnumeric()]

In [267]:
data['kms_driven']=data['kms_driven'].astype(int)

<ipython-input-267-54257c690f05>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['kms_driven']=data['kms_driven'].astype(int)

In [268]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 817 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        817 non-null    object
 1   company     817 non-null    object
 2   year        817 non-null    int32
 3   Price       817 non-null    int32
 4   kms_driven  817 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 35.1+ KB

In [269]:
data=data.dropna()

In [270]:
data['name']=data['name'].str.split(' ').str.slice(0,3).str.join(' ')

In [271]:
data.reset_index(drop=True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
811      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
812          Tata Indica V2      Tata  2009  110000       30000    Diesel
813    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
814            Tata Zest XM      Tata  2018  260000       27000    Diesel
815      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[816 rows x 6 columns]

In [272]:
data.to_csv('Cleaned_car.csv')

In [273]:
X=data.drop(columns='Price')
y=data['Price']

In [274]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [275]:
ohe=OneHotEncoder()
ohe.fit(X[['name','company','fuel_type']])

OneHotEncoder()

In [276]:
column_trans=make_column_transformer((OneHotEncoder(categories=ohe.categories_),['name','company','fuel_type']),remainder='passthrough')

In [277]:
lr=LinearRegression()

In [278]:
pipe=make_pipeline(column_trans,lr,)

In [279]:
pipe.fit(X_train,y_train)

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(categories=[array(['Audi A3 Cabriolet', 'Audi A4 1.8', 'Audi A4 2.0', 'Audi A6 2.0',
       'Audi A8', 'Audi Q3 2.0', 'Audi Q5 2.0', 'Audi Q7', 'BMW 3 Series',
       'BMW 5 Series', 'BMW 7 Series', 'BMW X1', 'BMW X1 sDrive20d',
       'BMW X1 xDrive20d', 'Chevrolet Beat', 'Chevrolet Beat...
                                                                            array(['Audi', 'BMW', 'Chevrolet', 'Datsun', 'Fiat', 'Force', 'Ford',
       'Hindustan', 'Honda', 'Hyundai', 'Jaguar', 'Jeep', 'Land',
       'Mahindra', 'Maruti', 'Mercedes', 'Mini', 'Mitsubishi', 'Nissan',
       'Renault', 'Skoda', 'Tata', 'Toyota', 'Volkswagen', 'Volvo'],
      dtype=object),
                                                                            array(['Diesel', 'LPG', 'Petrol'], dtype=object)]),
                                                  ['name', 'company',
                                                   'fuel_type'])])),
                ('linearregression', LinearRegression())])

In [280]:
y_pred=pipe.predict(X_test)

In [281]:
y_pred

array([ 296577.86097828,  357964.72727092,  383060.64872205,
         57680.13856728,  162071.99893513, 1591130.21809652,
        508620.51546815,  327249.86920579,   49078.49066459,
        338375.65389656,  197907.23019599,  225744.32793011,
        187330.03394175, 1107780.86886052,  261900.25415644,
        161541.98090366,   86394.43338887,  602585.62841386,
        303063.61883031,  168257.70360929,  221163.5082899 ,
        225521.5959756 ,  843295.41342372,  510845.56437712,
        214541.9476613 ,  348988.31101764,  442498.44390434,
        455115.73100469,  529032.85569567,  209888.94970001,
        492013.75623511,  307398.37665822,  511225.03532897,
        337739.50645234,   27497.25839324,  505551.73644873,
        523434.70941136,  124971.31284102,  128583.23964001,
        308323.91042022,  716392.7788986 ,  208263.03123607,
        357964.72727092,  763823.71840101,  269390.15158173,
        454775.01691113,  599723.86932982,   22439.12586136,
        232555.97680218,  349926.57235136,  239478.10849985,
        226962.07249559,  805187.33702743,  584754.18516616,
        336226.40551185,  224665.69396973,  467851.1183964 ,
        478314.95064216,  819254.55577018,  280875.56898317,
        426476.67614786,  353883.08461039, 1887349.62615425,
        437608.70858985,  304093.87982056,  140838.36654688,
        252053.58256032,  290557.24800513,  455780.58738104,
        416123.82533671,  704682.05559789,  105146.6772835 ,
        367918.7524583 ,  -80699.70913685,  500771.29205147,
        305649.63757839,  121303.16138729,  301063.26940111,
        487341.29006282,  529032.85569567,  198865.11711358,
        243916.0944085 ,  602585.62841386,  250250.68563662,
        132714.99352041,  186342.22653814,  156652.89520177,
        500315.34871776,  170454.69056579,  371594.92214508,
         -8167.10534712,  350118.10623753,  179759.12143242,
        217552.31037685,  120869.47323655,  294566.84616248,
        318300.40629444,  256228.56919382,   99410.59261008,
        355622.40921385,  391735.57984885,  -86956.099644  ,
        333169.61263373,  574240.04502566,  223700.87546349,
        443086.86551339, 1506674.56046428,   88420.02736498,
        295884.96613467, 1091474.39936706,  341904.81419627,
        403583.23340121,  541208.05571724,   71575.42003269,
        769707.83019356,  209578.81300396,  324767.68165407,
        275559.92782082,  284774.80432972,  672993.58626014,
        394991.7857701 ,  216914.51484498,  206962.4523354 ,
        312622.85768321,  393522.72208019,  223627.32577673,
        646424.01498975,  307398.37665822,    6870.74837311,
        706318.11432465,  451324.88499444,  418862.46573909,
        689663.27350824,  432261.31620812,  115109.87976599,
        505551.73644873,  343342.96932743,  404933.93535274,
        137871.2865139 ,  362542.67502023,  570111.63129672,
        234447.43117969,  614270.55266636,  334596.11597686,
        -30824.40624512,  587464.86400103,   60142.87470193,
        242154.20841281,  220404.89610557,  284807.41068249,
       1019885.90321065,  698716.18580333,  278472.63750807,
        263073.49187799,  257203.82771247,  331946.89548249,
          5864.68453588,  385694.13601983,  253448.96651407,
        343995.54867558,  220710.62559357, 1887349.62615425,
        284843.53403245,  452990.10543174])

In [282]:
r2_score(y_test,y_pred)

0.732285838012721

In [283]:
import pickle

In [284]:
pickle.dump(pipe,open('LinearRegressionModel.pkl','wb'))

In [286]:
pipe.predict(pd.DataFrame([['Maruti Suzuki Swift','Maruti',2019,100,'Petrol']],columns=['name','company','year','kms_driven','fuel_type']))

array([440226.19884188])